<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
</head>
<body>
<div class="wrapper">
    <div class="registration__form">
        <h3>Registration</h3>
        <form class="form">
            Name:<br/>
            <input type="text"  class="form-control" name="name" placeholder="Your name ..." style=" width: 240px"><br/>
            Login:<br/>
            <input type="text" class="form-control" name="login" placeholder="login" style=" width: 240px"><br/>
            Password:<br/>
            <input type="password" class="form-control" name="password" placeholder="password" style=" width: 240px"><br/>
            Repeat password:<br/>
            <input type="password" class="form-control" name="reppass" placeholder="repeat your password" style=" width: 240px"><br/>
            <button type="submit" class="btn" name="submit">Log in</button>
        </form>
    </div>
</div>
</body>
</html>